.header
{
display:flex;
flex-direction:row;

position: absolute;
left: 0%;
right: 0%;
top: 0%;

bottom: 93%;

background: #3F51B5;
}
.header__pic{
    width: 36px;
height: 36px;
padding-top:14px;
padding-left:24px;
}
.header__text
{
  
height: 24px;
padding-left:20px;
padding-top:22px;

letter-spacing: -0.0555556px;

color: #FFFFFF;
}
.header__search
{
    width: 842px;
    height: 30px;
    padding-left: 30px;
    padding-top: 22px;
    
    /* Gray 1 */
    
    background: #333333;
    opacity: 0.23;
    border-radius: 4px;    

}